:root {
  --primary-text-color: #212121; /*основний колір тексту*/
  --secondary-text-color: #757575; /*другорядний колір тексту*/
  --accent-color: #2196f3; /*курсор та кнопки*/
  --primary-bg-color: #ffffff; /*основний колір фону*/
  --secondary-bg-color: #2f303a; /*другорядний колір фону*/
  --alt-text-color: #ffffff; /*другорядний колір тексту , на темних фонах*/
  --logo-first-text-color: #2196f3; /*логотип 1 частина*/
  --logo-second-text-color: #000000; /*логотип 2 частина*/
}
body {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
}
ul {
  list-style: none;
}
.hat {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--alt-text-color);
}

/* header  */
.logo-studio-header {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-second-text-color);
}
.nav {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  text-decoration: none;
}
.logo {
  text-decoration: none;
}
.logo-web {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-first-text-color);
}
.menu {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
}
.menu:hover {
  color: var(--accent-color);
}
.nav:hover {
  color: var(--accent-color);
}
.button-filter:hover {
  color: var(--alt-text-color);
  background: var(--accent-color);
}
.menu:focus {
  color: var(--accent-color);
}
.nav:focus {
  color: var(--accent-color);
}
.button-filter:focus {
  color: var(--alt-text-color);
  background: var(--accent-color);
}
.menu-list .menu.current {
  color: var(--accent-color);
}
/* button */
button {
  cursor: pointer;
}
.section-hat {
  background: var(--secondary-bg-color);
}
.button-hat {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--alt-text-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.button-filter {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
/* main */
.section-title {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}
.section-feature {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.section-team {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.team-list {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.title-list {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
/* footer */
footer {
  background: var(--secondary-bg-color);
}
.logo-studio-footer {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--alt-text-color);
}
.city {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--alt-text-color);
  text-decoration: none;
}
.contact {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.contact:hover {
  color: var(--accent-color);
}
.contact:focus {
  color: var(--accent-color);
}
